@import "variables";
@import "header";
@import "footer";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: $dark-gray;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: $theme-blue
}

a, a:hover, a:focus, a:visited, .entry .entry-meta a:hover, .entry .entry-footer a:hover {
  color: $theme-blue;
  transition: none;
}

.page-title {
  color: $dark-gray !important;
  display: block !important;
  margin: 1em 0 !important;
}

.page-header {
  margin-bottom: 0 !important;
}

.entry {
  margin: 0 !important;
}

.entry-content, .homepage-content {
  figure {
    text-align: center;
  }
}

.homepage-content {
  max-width: 80%;
  margin: 0 10%;
  padding: 0 60px;

   hr {
     background-color: $light-grey;
   }
}

.clients {
  margin-bottom: 2em;
  table, tbody {
    display: flex;
  }
  tr {
    display: flex;
    td {
      border: none;
      display: inline-block;
    }
  }
}

.nextend-thumbnail-inner > div {
  background-color: $light-grey !important;
}

